<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pesquisa ABMP</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
      <div class="ui attached menu inverted">
          <div class="item">
              <img alt="" src="<%= static_path(@conn, "/images/marca-abmp.png") %>"/>
          </div>
          <div class="header item">
              Pesquisa ABMP
          </div>
          <div class="right menu">
              <div class="item">
                <%= if @current_user do %>
                  <%= if @current_user.is_admin do %>
                    <%= link("Visualizar/Cadastrar Empresas", to: empresa_path(@conn, :index), class: "ui positive button") %>
                  <%= end %>
                    <%= link("Logout", to: sessao_path(@conn, :delete, @current_user), method: "delete", class: "ui primary button btn-login") %>
                <% else %>
                    <%= link("Login", to: "/sessoes/new", class: "ui primary button btn-login") %>
                <% end %>
              </div>
          </div>
      </div>
      <main role="main" class="main <%= main_class(@conn) %>">
        <div class="ui container">
            <div class="ui info message"><%= get_flash(@conn, :info) %></div>
            <div class="ui negative message"><%= get_flash(@conn, :error) %></div>
        </div> <!-- /container -->
        <%= render @view_module, @view_template, assigns %>
      </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
