<div class="ui container">
<h2>Editar empresa</h2>

<%= render "form.html", changeset: @changeset,
                        action: empresa_path(@conn, :update, @empresa) %>
<br/>
<%= link "Retornar para listagem", to: empresa_path(@conn, :index), class: "ui button" %>

</div>
