<div class="ui container">
<h2>Nova Empresa</h2>

<%= render "form.html", changeset: @changeset,
                        action: empresa_path(@conn, :create) %>

<%= link "Back", to: empresa_path(@conn, :index) %>

</div>
