<div class="ui container">
  <h2 class="ui header">Preencha os dados abaixo</h2>

  <%= render "form.html", changeset: @changeset,
  action: dados_empresa_path(@conn, :create), tipos_empresas: @tipos_empresas %>

</div>
