@import ../vendor/semantic/dist/semantic.css
@import ../vendor/datatables/datatables.semanticui.css

// Mensagens
.ui.message:empty
  display: none

.main
  padding-top: 20px
  &.home_container
    background: #fcab1c
// Home
.hero
  padding-top: 40px
  padding-bottom: 60px
  .ui.text.container
    font-size: 1.3rem
  .ui.header
    font-size: 3rem
.text_container.home
  background: #fff
.ui.container.home
  padding-top: 30px
  padding-bottom: 30px
.pesquisa-form
  .ui.header .sub.header
    color: rgba(255, 255, 255, 0.7)

// Cadastros
.acoes
  form
    display: inline
.paginacao
  padding-top: 40px

// Pesquisa
.pesquisa
  padding-top: 50px
